<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommand" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MyCommand/EndP1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICommand" contract="Command.ICommand"
                name="WSHttpBinding_ICommand">
                <identity>
                    <userPrincipalName value="myznikov@step.itstep.rv.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>