<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="newBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="newBehavior" name="OneWay_WCFService.MyCommand">
        <endpoint address="EndP1" binding="wsHttpBinding" contract="OneWay_WCFService.ICommand"></endpoint>
        <endpoint binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MyCommand" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>